/* Estilo para la cuadrícula principal */
html {
  cursor: url('../../public/gui/cursor.png'), auto;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


.navbar {
  background-color: #333; /* Color de fondo */
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2; /* Color del texto */
  text-align: center;
  padding: 14px 16px; /* Espaciado interno */
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd; /* Color de fondo al pasar el ratón */
  color: black; /* Color del texto al pasar el ratón */
}

