/* Estilo para la cuadrícula principal */
html {
  background-image: url('../../public/Fondo-tex.jpeg');
  filter: contrast(1.1) brightness(0.9);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  top: 12%;
  cursor: url('../../public/gui/cursor.png'), auto;


}
.grid {

  display: flex;
  flex-direction: column; /*filas en vertical */
  align-items: center; /* Centra filas horizontalmente */
  justify-content: center; /* Centra verticalmente */
  /* border: 1px solid #000000;
  background-image: url('../../public/sangre2.gif'); */

}

/* Estilo para cada fila de la cuadrícula */
.grid-row {
  display: flex;
  justify-content: center; /* Centra las celdas horizontalmente en la fila */
}


/*CELDAS */
.cell {
  width: 35px;
  height: 35px;
  background-color: #00000000;
  border: 1px solid #000000;
  background-size: contain; /* Ajusta el tamaño para que la imagen se ajuste dentro de la celda */
  background-position: center center; /* Centra la imagen vertical y horizontalmente */
  background-repeat: no-repeat;

}

.spawnBacterium{
  width: 35px;
  height: 35px;
  background-image: url('../images/spb.png');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.spawnBacteriumActive{
  width: 35px;
  height: 35px;
  background-image: url('../../public/bacterium.gif');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.spawnOther{
  width: 35px;
  height: 35px;
  background-image: url('../images/spa.png');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.spawnOtherActive{
  width: 35px;
  height: 35px;
  background-image: url('../../public/other.gif');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}


.bacterium{
  width: 35px;
  height: 35px;
  background-image: url('../../public/entity/BacteriumNormal.gif');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.bacteriumStrong{
  width: 35px;
  height: 35px;
  background-image: url('../../public/entity/BacteriumStrong.gif');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.bacteriumWeak{
  width: 35px;
  height: 35px;
  background-image: url('../../public/entity/bacteriumWeak.gif');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}


.bacteriumInfected{
  width: 35px;
  height: 35px;
  background-image: url('../../public/entity/bacteriumInfected.gif');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  animation: mask 1s linear;
}


.antibiotic{
  width: 35px;
  height: 35px;
  background-image: url('../../public/entity/pill.gif');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 10px rgb(42, 208, 245));
}

.bacteriophage{
  width: 35px;
  height: 35px;
  background-image: url('../../public/entity/bacteriophague.png');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  animation: mask 1s linear;
}

.App{
  display: grid;
  grid-template-columns: 15% 70% 15%;
}

.spawnbacAct{
  filter: brightness(1.5);
}

.spawnothAct{
  filter: brightness(1.5);
}


.button {
  width: 50px; /* Ancho de los botones */
  height: 50px; /* Alto de los botones */
  border-radius: 50%; /* Hace que los botones sean redondos */
  background-size: cover; /* Ajusta la imagen al tamaño del botón */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  cursor: pointer; /* Cambia el cursor cuando se pasa por encima */
}

button:hover{
  cursor: pointer;
  filter: brightness(1.25);
}



.stop-button {
  background-image: url('../../public/gui/stop.png'); /* Ruta de la imagen de STOP */
}

.pause-button {
  background-image: url('../../public/gui/pause.png'); /* Ruta de la imagen de PAUSA */
}

.sonido {
  background-image: url('../../public/gui/sound.png'); /* Ruta de la imagen de PAUSA */
}

.pause{
  filter: brightness(1.2);
}