/* Estilo para la cuadrícula principal */
html {
  /* background-color: rgba(255, 0, 0, 0.466); */
  background-image: url('../../public/flush.jpg');
  filter: contrast(1.1) brightness(0.9);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  top: 12%;
}
.grid {
  display: flex;
  flex-direction: column; /*filas en vertical */
  align-items: center; /* Centra filas horizontalmente */
  justify-content: center; /* Centra verticalmente */
}

/* Estilo para cada fila de la cuadrícula */
.grid-row {
  display: flex;
  justify-content: center; /* Centra las celdas horizontalmente en la fila */
  /*margin-bottom: 10px; Espacio entre las filas */

}


/*CELDAS */
.cell {
  width: 30px;
  height: 30px;
  /*margin-right: 10px;  Espacio entre las celdas */
  /* Otros estilos de celda según tus preferencias */
  background-color: #00000000;
  border: 1px solid #000000;
  background-image: url('../../public/textura.png');
  background-size: contain; /* Ajusta el tamaño para que la imagen se ajuste dentro de la celda */
  background-position: center center; /* Centra la imagen vertical y horizontalmente */
  background-repeat: no-repeat;

}

.spawnBacterium{
  width: 30px;
  height: 30px;
  background-image: url('../images/spb.png');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.spawnBacteriumActive{
  width: 30px;
  height: 30px;
  background-image: url('../../public/bacterium.gif');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.spawnOther{
  width: 30px;
  height: 30px;
  background-image: url('../images/spa.png');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.spawnOtherActive{
  width: 30px;
  height: 30px;
  background-image: url('../../public/other.gif');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}


.bacterium{
  width: 30px;
  height: 30px;
  background-image: url('../../public/BacteriumNormal.gif');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.bacteriumStrong{
  width: 30px;
  height: 30px;
  background-image: url('../../public/BacteriumStrong.gif');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.bacteriumWeak{
  width: 30px;
  height: 30px;
  background-image: url('../../public/bacteriumWeak.gif');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}


.bacteriumInfected{
  width: 30px;
  height: 30px;
  background-image: url('../../public/bacteriumInfected.gif');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}


.antibiotic{
  width: 30px;
  height: 30px;
  background-image: url('../../public/pill.gif');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.bacteriophage{
  width: 30px;
  height: 30px;
  background-image: url('../../public/bacteriophague.png');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.App{
  display: grid;
  grid-template-columns: 15% 70% 15%;
}

img{
  width: 90px;
  height: 90px;
}

img:hover{
  cursor: pointer;
  filter: brightness(1.2) ;
}

.sss{
  display: grid;
  row-gap: 50px;
  width: 50px;
  justify-self: center;
  height: 35rem;
  position: relative;
  bottom: 13%;
}

.sss button{
  background-color: transparent;
  border: none;
  height: 100px;
}

.modAa{
  filter: brightness(1.3);
}

.modAa img{
  background-color: rgba(128, 128, 128, 0.479);
}
.modVa{
  filter: brightness(1.3);
}
.modVa img{
  background-color: rgba(128, 128, 128, 0.479);
}

p{
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 0 3px 1px #000000;
  font-size: 1.5rem;
  position: relative;
  left: 23%;
  width: 130px;
}

#mode{
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  column-gap: 10px;
}

#mode img{
  border: inset;
}

#params{
  display: flex;
  flex-direction:column;
  align-self: center;
  align-items: center;
  text-align: center;
  row-gap: 20px;
  width: 200px;
}

#params label{
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 0 3px 1px #000000;
  text-wrap: 10px;
  color: aliceblue;
}

#params input{
  height: 25px;
  width: 100px;
  background-color: rgba(220, 20, 60, 0.58);
  border: inset;
  border-color: -internal-light-dark(rgb(59, 56, 56), rgb(212, 207, 207));
  color: aliceblue;
  font-style: bold;
  text-align: center;
  font-size: 1rem;
}

#params button{
  width: 70px;
}
.bacteriophage{
  width: 30px;
  height: 30px;
  background-image: url('../../public/bacteriophague.png');
  background-size: cover;
  border: 1px solid #000000;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.spawnbacAct{
  filter: brightness(1.5);
}

.spawnothAct{
  filter: brightness(1.5);
}

#params button{
  background-color: rgba(197, 1, 1, 0.71);
  height: 50px;
  width: 70px;
  border-radius: 5px;
  filter: contrast(1.35);
  color: aliceblue;
}

#params button:hover{
  cursor: pointer;
  filter: brightness(1.25);
}

p#spawn{
  top: 90%;
  left: 36%;
}
